.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  background-color: #282c28;
  overflow: hidden;
  text-align: center;
}

nav div h1,
a {
  display: inline-block;
}

nav div h1 {
  color: white;
  font-size: calc(10px + 2vmin);
}

nav div a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
}

nav div a:hover {
  background-color: #ddd;
  color: black;
}

nav div a.active {
  background-color: #04aa6d;
  color: white;
}

nav .icon {
  display: none;
}

div.starter-top {
  background: url("./pages/img/sipder-man.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  overflow-x: hidden;
}

div.most-view-like {
  background-color: #282c28;
  color: white;
  overflow-x: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-gap: 45px;
  justify-content: center;
}

div.most-view-like span.card {
  position: relative;
}

div.most-view-like span.card img.card-movie {
  height: 155px;
  display: block;
}

div.most-view-like span.card div.card-middle-box {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 150px;
  text-align: center;
}

div.most-view-like span.card div.card-middle-box:hover {
  opacity: 1;
}

.box {
  background-color: #282c28;
  color: white;
  margin-top: 10px;
  margin-left: 15px;
  height: 140px;
  width: 125px;
}

div.most-view-like span.card div.card-middle-box div.box p {
  margin: 0;
}

div.starter-top h2 {
  color: white;
}

div.playlists-comments {
  height: 700px;
  width: 100%;
  background-color: #282c28;
  overflow-x: hidden;
  color: white;
  display: grid;
  grid-template-columns: 700px 200px;
  justify-content: center;
}
