@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav {
  background-color: #282c28;
  overflow: hidden;
  text-align: center;
}

nav div h1,
a {
  display: inline-block;
}

nav div h1 {
  color: white;
  font-size: calc(10px + 2vmin);
}

nav div a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
}

nav div a:hover {
  background-color: #ddd;
  color: black;
}

nav div a.active {
  background-color: #04aa6d;
  color: white;
}

nav .icon {
  display: none;
}

div.starter-top {
  background: url("./pages/img/sipder-man.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  overflow-x: hidden;
  text-align: center;
}

div.starter-top div {
  color: white;
  margin-top: 450px;
}

div.most-view-like {
  background-color: #282c28;
  color: white;
  overflow-x: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  grid-gap: 45px;
  justify-content: center;
}

div.most-view-like span.card {
  position: relative;
}

div.most-view-like span.card img.card-movie {
  height: 155px;
  display: block;
}

div.most-view-like span.card div.card-middle-box {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 150px;
  text-align: center;
}

div.most-view-like span.card div.card-middle-box:hover {
  opacity: 1;
}

.box {
  background-color: #282c28;
  color: white;
  margin-top: 10px;
  margin-left: 15px;
  height: 140px;
  width: 125px;
}

div.most-view-like span.card div.card-middle-box div.box p {
  margin: 0;
}

div.playlists-comments {
  height: 700px;
  width: 100%;
  background-color: #282c28;
  overflow-x: hidden;
  color: white;
  display: flex;
  flex-direction: row;
}

div.playlists-comments div.recent-comments {
  flex: 2;
}

div.playlists-comments div.recent-comments h2 {
  margin-left: 25px;
}

div.playlists-comments div.popular-playlists {
  flex: 1/2;
  margin-left: 25px;
  margin-right: 25px;
}

div.playlists-comments div.popular-playlists div.playlist-card .playlist-img {
  height: 200px;
  width: 400px;
}

div.playlists-comments div.popular-playlists div.playlist-card .text {
  display: flex;
}

div.playlists-comments div.popular-playlists div.playlist-card {
  width: 100%;
}

div.playlists-comments div.recent-comments div.review {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 25px;
}

div.playlists-comments div.recent-comments div.review .user-info {
  display: flex;
  flex-direction: column;
}

div.playlists-comments div.recent-comments div.review .user-info h4,
h6 {
  margin-bottom: 0;
  margin-left: 15px;
}

div.playlists-comments div.recent-comments div.review .user-info .user-text {
  display: flex;
}

div.playlists-comments div.recent-comments div.review .user-info h4,
h6 {
  margin-top: 0;
}

div.playlists-comments div.recent-comments div.review .movie {
  width: 100px;
  height: 100px;
}

div.playlists-comments div.recent-comments div.review .comment .profile {
  width: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.playlists-comments div.recent-comments div.review h5 {
  margin-left: 10px;
}

div.playlists-comments
  div.recent-comments
  div.review
  div.comment
  .user-comment {
  margin: 0;
}

div.playlists-comments div.recent-comments div.review div.comment {
  display: flex;
  flex-direction: column;
  /*width: 700px;*/
  margin-left: 10px;
  margin-top: 0px;
}

div.playlists-comments div.recent-comments div.review div.comment .user {
  display: flex;
}

div.playlists-comments div.recent-comments div.review div.comment h6 {
  margin: 0;
}

div.playlists-comments div.recent-comments div.review div.comment div.rating {
  display: flex;
  display: column;
  margin-top: 10px;
}

div.playlists-comments
  div.recent-comments
  div.review
  div.comment
  div.rating
  div.thumbUp {
  display: grid;
  grid-template-columns: 20px 20px;
}

div.playlists-comments
  div.recent-comments
  div.review
  div.comment
  div.rating
  div.thumbUp
  .thumb-count {
  margin-left: 15px;
  margin-top: 0;
}

div.playlists-comments
  div.recent-comments
  div.review
  div.comment
  div.rating
  div.thumbDown
  .thumb-count {
  margin-left: 15px;
  margin-top: 0;
}

div.playlists-comments
  div.recent-comments
  div.review
  div.comment
  div.rating
  div.thumbDown {
  display: grid;
  grid-template-columns: 20px 20px;
  margin-left: 20px;
}

@media only screen and (max-width: 1000px) {
  div.playlists-comments div.recent-comments {
    display: none;
  }
}
